*, *::before, *::after {
  box-sizing: border-box;
}

/* Intro */
body, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Almarai', sans-serif;
}

.introbox {
  height: 100vh;
  background-image: url("https://i.postimg.cc/cLhq6JyR/pexels-wendy-van-zyl-1112048-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.menu {
  padding-top: 2vh;
  width: 100%;
}

.logo {
  display: inline-block;
  padding-left: 10vw;
  padding-top: 5vh;
}

.logo h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.nav {
  display: inline-block;
  padding-left: 50vw;
  max-width: 100%;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-right: 20px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h2 {
  font-size: 30px;
  font-style: italic;
}

.text p {
  font-size: 55px;
  font-weight: bold;
}

.text button {
  padding: 20px 60px;
  border-radius: 10px;
  border: none;
  background-color: #f1c40f;
}

/* Services */
.service-title {
  margin-top: 7%;
  text-align: center;
}

.service-title h2 {
  font-size: 50px;
  font-weight: bold;
}

.service-title p {
  font-style: italic;
  color: #7f8c8d;
}

.cards {
  display: -ms-flexbox;
  display: flex;
  margin-top: 7%;
  text-align: center;
  margin: 10% 10%;
}

.responsive-web {
  padding: 0 10%;
}

.cards i {
  font-size: 8vh;
  border: solid orange;
  border-radius: 50%;
  padding: 10px;
  color: orange;
}

.cards h2 {
  margin: 15% 0;
}

.cards p {
  color: #7f8c8d;
  font-style: italic;
}

/* Portfolio */
.portfolio {
  background-color: #eee;
}

.portfoliotext {
  text-align: center;
  padding: 5% 0;
}

.portfoliotext h1 {
  font-size: 50px;
}

.portfoliotext p {
  font-style: italic;
  color: #7f8c8d;
}

.first-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 10%;
  padding-top: 0;
  -ms-flex-pack: center;
      justify-content: center;
}

.card {
  background-color: #fff;
  margin: 0 2%;
}

.second-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 10%;
  padding-top: 0;
  -ms-flex-pack: center;
      justify-content: center;
}

.imag {
  height: 300px;
  width: 100%;
}

.card-image {
  max-width: 300px;
}

.card-body {
  text-align: center;
}

.card-body h5 {
  font-size: 20px;
}

.card-body p {
  font-size: 16px;
  font-style: italic;
  color: #7f8c8d;
}

/* Footer */
footer {
  width: 100%;
  margin: auto;
}

.footerlogo {
  display: inline-block;
  padding-left: 15%;
  text-align: left;
}

.footerbox ul {
  display: inline-block;
  text-align: center;
}

.mediabox {
  display: inline-block;
  padding: 0 7%;
}

.media li {
  font-size: 0;
  display: inline-block;
  margin: 3px;
  text-align: center;
}

.media li i {
  font-size: 20px;
  color: white;
  width: 40px;
  height: 40px;
  background-color: #2f3640;
  border-radius: 50%;
  padding: 10px;
}

/* Media */
@media (max-width: 767px) {
  .first-row, .second-row {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .card-image {
    max-width: 100%;
  }
  .card {
    margin-top: 10%;
  }
}
/*# sourceMappingURL=style.css.map */