*, *::before, *::after {
    box-sizing: border-box;
}

/* Intro */

body, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.intro {
    height: 100vh;
    background-image: url('https://i.postimg.cc/cLhq6JyR/pexels-wendy-van-zyl-1112048-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.intro-box {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logo h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    padding-left: 20px;
    color: white;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text h2 {
    font-size: 30px;
    font-style: italic;
}

.text p {
    font-size: 55px;
    font-weight: bold;
}

.text button {
    padding: 20px 60px;
    border-radius: 10px;
    border: none;
    background-color: #f1c40f;
}
/* Services */ 

.service-title {
    margin-top: 7%;
    text-align: center;
}

.service-title h2 {
    font-size: 50px;
    font-weight: bold;
}

.service-title p {
    font-style: italic;
    color: #7f8c8d;
}

.services-box {
    display: flex;
    justify-content: space-around;
}

.description {
    padding: 5% 8%;
    text-align: center;
}

.description h2 {
    padding-top: 30px;
}

.description p {
    font-style: italic;
    color: #7f8c8d;
}

.services-box i {
    font-size: 40px;
    color: orange;
    width: 80px;
    height: 80px;
    border: solid 2px orange;
    border-radius: 50%;
    line-height: 80px;
}

/* Portfolio */ 

.portfolio {
    background-color: #eee;
}

.portfoliotext {
    text-align: center;
    padding: 50px 0;
}

.portfoliotext h1 {
    font-size: 50px;
}

.portfoliotext p {
    font-style: italic;
    color: #7f8c8d;
}

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    margin-bottom: 50px;
    width: 350px;
}

.imag {
    height: 300px;
    width: 100%;
}

.card-image {
    max-width: 350px;
}

.card-body {
    text-align: center;
}

.card-body h5 {
    font-size: 20px;
}

.card-body p {
    font-size: 16px;
    font-style: italic;
    color: #7f8c8d;
}

/* Footer */

footer {
    width: 100%;
    margin: auto;
}

.footerbox .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media li {
    font-size: 0;
    display: inline-block;
    margin: 3px;
    text-align: center;
}

.media li i {
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #2f3640;
    border-radius: 50%;
    padding: 10px;
}

/* Media */

@media (max-width: 767px) {
    .first-row, .second-row {
        flex-direction: column;
    }
    .card-image {
        max-width: 100%;
    }
    .card {
        margin-top: 10%;
    }
}
