*, *::before, *::after {
    box-sizing: border-box;
}

/* Intro */

body, h2 {
    margin: 0;
    padding: 0;
}

.introbox {
    height: 100vh;
    background-image: url('https://i.postimg.cc/90VN71gN/pexels-fauxels-3183183.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    padding-top: 5%;
    width: 100%;
}

.logo {
    padding-left: 10vw;
}
.nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

.nav a {
    text-decoration: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Services */ 

.service-title {
    margin-top: 7%;
    text-align: center;
}

.cards {
    display: flex;
    margin-top: 7%;
    text-align: center;
    margin: 10% 10%;
}

.responsive-web {
    padding: 0 10%;
}

.cards i {
    font-size: 8vh;
    border: solid orange;
    border-radius: 50%;
    padding: 10px;
    color: orange;
}

.cards h2 {
    margin: 15% 0;
}

/* Portfolio */ 

.portfolio {
    background-color: #eee;
}

.portfoliotext {
    text-align: center;
    padding: 10% 0;
}

.first-row  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10%;
    padding-top: 0;
}

.card {
    background-color: #fff;
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10%;
    padding-top: 0;
}

.imag {
    height: 300px;
    width: 100%;
}

.card-image {
    max-width: 300px;
}

/* Footer */

footer {
    width: 100%;
    margin: auto;
}

.footerlogo {
    display: inline-block;
    padding-left: 13%;
}

.footerbox ul {
    display: inline-block;
    text-align: center;
}

.media li {
    font-size: 0;
    display: inline-block;
    margin: 3px;
    text-align: center;
}

.media li i {
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #2f3640;
    border-radius: 50%;
    padding: 10px;
}